*, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}
  canvas {
    opacity: 1;
    width: 500;
    height: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1 !important;
  }
  

  .container{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(32, 61, 51, 0.404);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    z-index: 1000;
  }


.welcome{
    background-color: rgba(127, 255, 212, 0.137);
    color: aliceblue;
    max-width: 90%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.welcome h2 span{
    color: rgba(224, 186, 158, 0.774);
  }

.welcome .check{
  background-color: transparent;
  color: aliceblue;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgba(127, 255, 212, 0.137);
  padding: 4px 6px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.welcome .check:hover{
  background-color: rgba(224, 186, 158, 0.774);
}
